*{
    font-family: monospace;
}

.logo{
    width: 150px;
    margin-left: 350px;
}

#nav{
    display: flex;
}

.title{
    font-size: 35px;
    margin: auto;
    margin-top: 40px;
    margin-left: 10px;
    border: 1px solid;
    text-shadow: 3px 3px 5px rgb(170, 205, 233);;
    color: rgb(255, 255, 255);
    background-color: rgb(109, 174, 228, 0.3);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 3px 3px;
}

#nav-bar{
    background-color: rgb(109, 174, 228);
    padding: 11px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
}




#nav-items a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid rgb(67, 107, 216);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 3px 3px;
}

#nav-items :hover{
    color: #5059d4;
}

.catalog{
    display: flex;
    justify-content: center;
    margin-top: 88px;
}

.table-header{
    border-color: #5059d4;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    color: #757ce0;
    border: 5px solid #a8abca;
}

td>img{
    width: 180px;
}

td{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgb(109, 174, 228, 0.3);
}

.status{
    border: 1px solid gray;
    border-radius: 10px;
    color: aliceblue;
    background-color: gray;
    padding: 10px;
}

th{
    padding: 10px;
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgb(255, 255, 255, 0.3);
}

#lautbercerita{
    width: 250px;
}

body{
    background-image: url(../img/bg.jpg);
    
}

a.statusavailable{
    border: 1px solid rgb(67, 107, 216);
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(67, 107, 216);
    padding: 10px;
}


#box-pinjam{
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.3);
    margin-top: 50px;
    padding-left: 20px;
    width: 1000px;
    margin-left: 250px;
    border-radius: 20px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: transparent;
    display: inline-block;
    box-shadow: 5px 5px 10px;  
    margin-bottom: 100px;
}

.submit-buku{
    background-color: #757ce0;
    width: 300px;
    display: inline-block;
    padding: 10px;
    padding-bottom: 40px;
    text-align: center;
    margin-left: 180px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 20px;
    border: 5px solid #a8abca;
    box-shadow: 5px 5px 10px;
    margin-bottom: 30px;
}

a.yes{ 
    background-color: #5059d4;
    width: 50px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px white;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
}

a.no {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: aliceblue;
    background-color: #a8abca;
    width: 50px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px white;
    margin-bottom: 10px;
}

.button :hover{
    color: #757ce0;
    color: #757ce0;
}

#box-pinjam h2{
    font-size: 30px;
    width: 100%;
    margin-left: 430px;
    text-shadow: 5px 5px 10px;
    text-transform: uppercase
}

#laut-bercerita-pinjam{
    width: 250px;
    float: left;
    padding: 20px;
}

.deskripsi-buku{
    font-size: 18px;
}

#aksesoris{
    background-color: rgb(118, 125, 224, 0.4);
    border-radius: 360px;
    position: absolute;
    top: 10px;
    left: -50px;
    padding: 100px;
    
}

#aksesoris2{
    background-color: rgb(156, 161, 219, 0.4);
    border-radius: 360px;
    position: absolute;
    top: -10px;
    left: 0px;
    padding: 100px;
}

.box-profil{
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.3);
    margin-top: 50px;
    padding-left: 20px;
    width: 1000px;
    margin-left: 250px;
    border-radius: 20px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: transparent;
    display: inline-block;
    box-shadow: 5px 5px 10px;  
    margin-bottom: 100px;
    font-size: 20px;
}

.tanggal-lahir{
    display: inline-block;
    background-color: #5059d4;
    padding: 10px;
    border-radius: 10px;
}

.buku-favorit>img{
    width: 250px;
    display: inline-flex;
    position: relative;
    left: 110px;
}

img.laut{
    height: 380px;
    width: 350px;
    margin-left: -60px;
}

.foto-profil>img{
    width: 250px;
    margin-left: 350px;
    margin-top: 20px;
    border-radius:20px;
}

#welcome-beranda{
    font-size: 45px;
    color: rgb(255, 255, 255);
    border-color: rgba(109, 109, 109, 0.3);
    margin-top: 50px;
    padding-left: 20px;
    width: 900px;
    margin-left: 200px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: transparent;
    display: inline-block;  
}

.description{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 100px;
    width: 600px
}

.welcome{
    border-right: 5px solid rgb(255, 255, 255);
    width: 900px;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3s steps(16),
        cursor .4s step-end infinite ;
}

@keyframes cursor{
    50% { border-color: transparent;}
    to { width: 300px; }
}

@keyframes typing {
    from { width: 0 }
    
}



